<html>
    <head>
        <title>東吳人 - 懸賞</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="shortcut icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
        <body background="/static/background.jpg">
            <div align="center"><button onclick="UserCenter()">會員中心</button></div>
            <div align="center">
                <button onclick="ManageMyBounty()">管理我發佈的懸賞</button>
                <table id="AllBounty" border="1" style="border-collapse:collapse;table-layout:fixed;word-break:break-all">
                    <tr>
                        <td style="width:100px">類別</td>
                        <td style="width:400px">內容</td>
                        <td style="width: 50px">獎勵</td>
                        <td style="width:120px">時間</td>
                        <td style="width:100px">地點</td>
                        <td style="width:100px">操作</td>
                    </tr>
                </table>
            </div>
            <script src="/static/BountyBoard/BountyBoard.js"></script>
            <script>
                function ManageMyBounty() {window.location.assign("/ManageMyBounty.html")}
                function UserCenter() {window.location.assign("/UserCenter.html")}
            </script>
        </body>
</html>
