<html>
<head>
    <title>東吳人 - 日誌</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/favicon.ico" rel="shortcut icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body background="/static/background.jpg">
    <div align="center" style="padding:5px"><button onclick="UserCenter()">會員中心</button></div>
    <div align="center" style="margin-left:30%;margin-right:30%">
        <input type="date" id="calendar" style="border:none;background:none;padding:5px;font-size:20px;font-weight:bold" onchange="DateChange()"><br>
        <button onclick="DailyReward(this)" style="width:18%">簽到</button>
        <button onclick="diary()" style="width:18%">日記</button>
        <br>
        <button onclick="ToDoList()" style="width:18%">備忘</button>
        <button onclick="schedule()" style="width:18%">課表</button>
        <br>
        <br>
        <div id="DailyRewardNotification" style="display:none">
            <h2 id="CurrentSituation"></h2>
        </div>
        <div id="AreaForDiary" style="display:none">
            <textarea id="DiaryContent" rows="20" style="width:80%;resize:none;padding:5px;"></textarea><br>
            <button id="NewDiary" onclick="NewDiary(this.innerHTML,document.getElementById('DiaryContent').value)"></button>
            <button id="ShowRow" onclick="ShowRow(this.innerHTML)">顯示格線</button>
            <button onclick="FontFamilySelecter()">字體選擇</button>
            <button onclick="BackgroundSelecter()">背景顏色</button>
        </div>
    </div>
    <script src="/static/diary/diary.js"></script>
    <script>
        function UserCenter() {window.location.assign("/UserCenter.html")}
    </script>
</body>
</html>