<!DOCTYPE html>

<head>

	<title>東吳人 - 造型</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/favicon.ico" rel="shortcut icon">
    <link type="text/css" rel="stylesheet" href="/static/ImgBox/test2.css">
</head>

 
<body> 
    <button style="float : right" onclick="UserCenter()">會員中心</button>      
    <h1 style="font-family:DFKai-sb;margin-left:5%"align="center">造型</h1>
    <div style="float :left; width: 20% ; margin-left:4% ">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/1.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/2.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/3.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/4.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ; margin-top: 1%">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/5.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ; margin-top: 1%">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/6.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ; margin-top: 1%">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/7.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ; margin-top: 1%">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/8.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ; margin-top: 1%">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/9.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <div style="float :left; width: 20% ; margin-left:4% ; margin-top: 1%">
        <button style="float :left;margin-top:1%;margin-left:1%;width:100%;">
            <img src="/static/ImgBox/10.jpg" style="width:100%;height: 200px">
        </button>
    </div>
    <script>
        function UserCenter() { window.location.assign("/UserCenter.html") } 
    </script>
</body>
</html>