<html>
    <head>
        <title>東吳人 - 領取註冊獎勵</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="shortcut icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
        <body background="/static/background.jpg">
            <div align="center">
                <h1 id="cur" style="font-family:DFKai-sb">新用戶，歡迎您</h1>
                <button id="GetSignUpReward" onclick="GetSignUpReward()">領取獎勵</button>
            </div>
            <script src="/static/SignUpReward/GetSignUpReward.js"></script>
        </body>
</html>